.logo {
    width: 100%;
    height: 100%;

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        height: 100%;
    }

    &__text {
        font-family: 'Quicksand Bold Regular';
        font-size: var(--size-xl);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 42px;
        color: var(--white);
    }
}