.view {
    flex: 1 1 0%;
    position: relative;

    &__intro {
        padding-top: var(--span-2xl);
        padding-left: calc(var(--span-2xl) + var(--span-s));
        padding-right: calc(var(--span-2xl) + var(--span-s));
        min-height: 100vh;

        @media only screen and (min-width: 1800px) {
            padding-left: 15%;
            padding-right: 15%;
        }
    }

    &__section {
        padding-top: var(--span-m);
    }

    &__heading {
        text-decoration: none;
        font-family: var(--Inter);
        font-size: var(--size-l);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 28px;
        color: var(--deep_blue);
    }

    &__paragraph {
        font-family: var(--Inter);
        font-size: var(--size-s);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 21px;
        color: #999;

        span {
            margin-top: var(--span-xs);
            display: block;
            max-width: 75%;
        }
    }
}

.form {
    flex-grow: 1;
}

.invoice {
    margin-top: var(--span-m);
    padding-bottom: var(--span-2xl);

    &__space {
        padding-top: var(--span-l);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        padding-bottom: var(--span-s);
        border-bottom: 1px solid #EEE;
    }

    &__heading {
        font-family: var(--Inter);
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 21px;
        color: var(--deep_blue);
    }

    &__body {
        padding-top: var(--span-m);
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: var(--span-l);


        @media only screen and (max-width: 1140px) {
            grid-template-columns: 1fr;
        }
    }

    &__form {
        width: 100%;
        display: grid;
        gap: calc(var(--span-s));
    }

    &__label {
        position: absolute;
        top: calc(var(--span-xs) - 4px);
        left: calc(var(--span-xs) + 5px);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs) - 1px);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        color: var(--deep_blue);
    }

    &__group {
        position: relative;

        input {
            padding-top: calc(var(--span-s));
        }

        &--sm {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: var(--span-l);
        }

        &--xsm {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: var(--span-l);
        }

        &--lg {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr;
        }
    }

    &__input {
        padding: calc(var(--span-xs) + 2px) calc(var(--span-xs) + 5px);
        height: 55px;
        box-shadow: 0 0 0 1px #EEE;
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: #ffffff;
        font-family: var(--Inter);
        font-size: var(--size-s) !important;
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 16px;
        color: var(--deep_blue);
        transition: all 300ms;

        &--lg {
            grid-column: span 2;
        }

        &:focus {
            box-shadow: 0 0 0 1px var(--bright_blue);
            outline: none;
        }

        &::-webkit-input-placeholder,
        &:-ms-input-placeholder {
            font-family: var(--Inter);
            font-size: var(--size-s) !important;
            font-weight: var(--weight-sm) !important;
            text-align: left;
            line-height: 16px;
            color: var(--deep_blue);
        }
    }

    &__bill {
        display: grid;
        gap: var(--span-m);
    }
}

.add {
    &__btn {
        display: flex;
        align-items: center;
        gap: var(--span-s);
    }

    &__btn:hover &__text {
        text-decoration: none;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--bright_blue);
        color: var(--bright_blue);

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__text {
        transition: all 300ms;
        text-decoration: underline;
        font-family: var(--Inter);
        font-size: var(--size-s);
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: var(--bright_blue);
    }
}


.progress {
    display: flex;
    gap: var(--span-s);
    align-self: center;

    &__paragraph {
        font-family: var(--Inter);
        font-size: var(--size-xs);
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 21px;
        color: var(--deep_blue);
        text-transform: uppercase;
    }

    &__dots {
        align-self: center;
        display: flex;
        list-style-type: none;
        gap: var(--span-xs);
    }

    &__dot {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #d2d5d9;

        &--active {
            background: var(--bright_blue);
        }
    }
}