.view {
    flex: 1 1 0%;
    display: flex;
    position: relative;

    &__intro {
        flex: 1 1 0%;
        position: relative;
    }

    &__heading {
        text-decoration: none;
        font-family: var(--Inter);
        font-size: var(--size-l);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 28px;
        color: var(--deep_blue);
    }
}

.form {
    flex-grow: 1;
}

.invoice {
    padding: 0 var(--span-m);

    &__heading {
        margin-top: var(--span-s);
        font-family: "Quicksand Bold Regular";
        font-size: var(--size-m);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 21px;
        color: var(--deep_blue);
    }

    &__input {
        padding: calc(var(--span-xs) + 2px) calc(var(--span-xs) + 5px);
        height: 55px;
        box-shadow: 0 0 0 1px #EEE;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #ffffff;
        font-family: "Quicksand Light Regular";
        font-size: var(--size-s) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: #717171;
        transition: all 300ms;

        &:focus {
            box-shadow: 0 0 0 1px var(--bright_blue);
            outline: none;
        }

        &::-webkit-input-placeholder,
        &:-ms-input-placeholder {
            font-family: var(--Inter);
            font-size: var(--size-s) !important;
            font-weight: var(--weight-md) !important;
            text-align: left;
            line-height: 16px;
            color: #D9D9D9;
        }
    }

    &__form {
        padding-top: var(--span-m);
        padding-bottom: var(--span-xs);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--span-s);

        @media only screen and (max-width: 1140px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__label {
        font-family: "Quicksand Light Regular";
        font-size: var(--size-xs) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: #717171;
        margin-bottom: 8px;
        display: block;
    }

    &__bill {
        display: grid;
        gap: var(--span-xs);
    }

    &__footer {
        margin-top: var(--span-2xl);
        display: flex;
        justify-content: center;
    }

    &__button {
        height: 50px;
        font-family: "Quicksand Bold Regular";
        font-size: calc(var(--size-s) + 1px) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: var(--white);
        background: #2a52be;
        padding: calc(var(--span-xs) + 5px) calc(3 * var(--span-2xl));
        border-radius: 10px;
        text-transform: uppercase;
    }
}

.add {
    padding-top: var(--span-m);
    padding-bottom: var(--span-m);

    &__btn {
        display: flex;
        align-items: center;
        gap: var(--span-s);
    }

    &__btn:hover &__text {
        text-decoration: none;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid var(--bright_blue);
        color: var(--bright_blue);

        svg {
            width: 18px;
            height: 18px;
        }
    }

    &__text {
        transition: all 300ms;
        text-decoration: underline;
        font-family: var(--Inter);
        font-size: var(--size-s);
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: var(--bright_blue);
    }
}