.view {
    display: flex;
    flex-direction: column;

    &__wrapper {
        padding-top: calc(var(--span-2xl) + var(--span-m));
        padding-left: calc(var(--span-2xl) + var(--span-s));
        padding-right: calc(var(--span-2xl) + var(--span-s));
        min-height: 100vh;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding-bottom: var(--span-2xl);

        @media only screen and (min-width: 1800px) {
            padding-left: 15%;
            padding-right: 15%;
        }

        @media only screen and (max-width: 1140px) {
            padding-left: var(--span-2xl);
            padding-right: var(--span-2xl);
        }

        @media only screen and (max-width: 600px) {
            padding-left: var(--span-s);
            padding-right: var(--span-s);
        }
    }

    &__content {
        border: 1px solid #eee;
        border-radius: 5px;
        padding: var(--span-s);
        padding-bottom: var(--span-xl);
    }

    &__header {
        display: flex;
        gap: var(--span-m);
    }

    &__image--box {
        width: 300px;
        height: 350px;
        border-radius: 10px;
        border: 1px solid #eee;
        overflow: hidden;
        flex-shrink: 0;
    }

    &__image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    &__info {
        flex-grow: 1;
        padding-top: var(--span-m);
    }

    &__title {
        font-family: var(--Inter);
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-lg);
        text-align: left;
        line-height: 24px;
        color: var(--dark-blue);
    }

    &__price {
        margin-top: var(--span-xs);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs) + 1px);
        font-weight: var(--weight-lg);
        text-align: left;
        line-height: 15px;
        color: var(--text-blue--1);
    }

    &__categories {
        margin-top: var(--span-s);
        display: flex;
        gap: calc(var(--span-xs) + 5px);
        flex-wrap: wrap;
        list-style-type: none;
    }

    &__category {
        padding: 5px var(--span-xs);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs));
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        color: var(--bright_blue);
        border: 1px solid var(--bright_blue);
        border-radius: 5px;
        cursor: pointer;
    }

    &__quantity {
        margin-top: var(--span-s);
    }

    &__max {
        font-family: var(--Inter);
        font-size: calc(var(--size-xs) + 1px);
        font-weight: var(--weight-lg);
        text-align: left;
        line-height: 15px;
        color: var(--text-blue--1);
    }

    &__body {
        margin-top: var(--span-m);
    }

    &__bodyText {
        font-family: var(--Inter);
        font-size: calc(var(--size-s) - 1px);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 23px;
        color: var(--dark-blue);
    }

    &__action {
        display: flex;
        margin-top: var(--span-m);
        justify-content: space-between;
    }

    &__btn {
        text-decoration: none;
        padding: calc(var(--span-xs) + 3px) calc(var(--span-2xl) + var(--span-s));
        font-family: var(--Inter);
        font-size: calc(var(--size-s));
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 23px;
        color: var(--white);
        background: var(--success);
        border-radius: 5px;

        &--red {
            background: var(--red);
        }
    }
}