.product {
    flex: 1 1 0%;
    position: relative;
    display: flex;

    &__intro {
        flex: 1 1 0%;
        position: relative;
    }

    &__heading {
        font-family: "Quicksand Bold Regular";
        font-size: var(--size-m);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 21px;
        color: var(--deep_blue);
    }

    &__section {
        padding: var(--span-m);
    }
}

.form {
    padding-top: var(--span-m);

    &__wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--span-m);

        @media only screen and (max-width: 1140px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__group {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__label {
        font-family: "Quicksand Light Regular";
        font-size: var(--size-xs) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: #717171;
        margin-bottom: 8px;
        display: block;
    }

    &__customLabel {
        margin-top: var(--span-xs);
        border: 1px solid #eee;
        padding: 0 var(--span-s);
        height: 50px;
        border-radius: 5px;
        display: flex;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: var(--span-xs) 0;
        color: var(--bright_blue);
        padding-right: var(--span-s);
        border-right: 1px solid #eee;

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &__text {
        align-self: center;
        flex-grow: 1;
        padding: var(--span-xs) 0;
        padding-left: var(--span-s);
        font-family: "Quicksand Light Regular";
        font-size: var(--size-s) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: #717171;
    }

    &__input {
        padding: var(--span-xs) var(--span-s);
        color: var(--deep_blue);
        margin-top: var(--span-xs);
        border: 1px solid #eee;
        outline: none;
        height: 50px;
        border-radius: 5px;
        font-family: "Quicksand Light Regular";
        font-size: var(--size-s) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: #717171;
        transition: all 300ms;

        &:focus {
            border: 1px solid var(--bright_blue);
        }

        &::-webkit-input-placeholder,
        &:-ms-input-placeholder {
            font-family: "Quicksand Light Regular";
            font-size: var(--size-s) !important;
            font-weight: var(--weight-md);
            text-align: left;
            line-height: 16px;
            color: #D9D9D9;
        }
    }

    &__upload {
        height: 0;
    }

    &__textarea {
        padding: var(--span-s) var(--span-s);
        color: var(--deep_blue);
        margin-top: var(--span-xs);
        border: 1px solid #eee;
        border-radius: 5px;
        font-family: "Quicksand Light Regular";
        font-size: var(--size-s) !important;
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 16px;
        color: #717171;
        transition: all 300ms;
        outline: none;

        &:focus {
            border: 1px solid var(--bright_blue);
        }

        &::-webkit-input-placeholder {
            font-family: "Quicksand Light Regular";
            font-size: var(--size-s) !important;
            font-weight: var(--weight-md);
            text-align: left;
            line-height: 16px;
            color: #717171;
        }
    }

    &__buttonContainer {
        margin-top: var(--span-m);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: var(--span-m);

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__button {
        padding: var(--span-xs) calc(2 * var(--span-2xl));
        text-align: center;
        font-family: "Quicksand Bold Regular";
        font-size: calc(var(--size-s) + 1px) !important;
        font-weight: var(--weight-md);
        text-align: center;
        line-height: 16px;
        color: var(--white);
        background: #2a52be;
        border-radius: 5px;
        transition: all 300ms;
        height: 50px;

        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
}