.empty {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__heading {
        margin-top: var(--span-xs);
        font-family: var(--Inter);
        font-size: var(--size-m);
        font-weight: var(--weight-lg);
        text-align: center;
        line-height: 21px;
        color: var(--deep_blue);
    }

    &__paragraph {
        margin-top: var(--span-xs);
        font-family: var(--Inter);
        font-size: var(--size-xs);
        font-weight: var(--weight-sm);
        text-align: center;
        line-height: 15px;
        color: var(--desaturated_blue);
    }
}