.sidebar {
    width: 14rem;
    background: var(--white);
    position: sticky;
    top: 0px;
    height: 100vh;
    z-index: 2;
    border-right: 1px solid var(--border);

    @media only screen and (max-width: 768px) {
        display: none;
    }


    &__header {
        border-bottom: 1px solid var(--border);
    }

    &__link {
        padding: calc(var(--span-xs) + 6px) calc(var(--span-xs) + 2px);
        display: flex;
        gap: 8px;
        text-decoration: none;
    }

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        display: flex;
        flex-direction: column;

        &--top {
            font-family: var(--Inter);
            font-size: var(--size-s);
            font-weight: var(--weight-lg);
            text-align: left;
            line-height: 19px;
            color: var(--dark-blue);
            text-transform: capitalize;
        }

        &--bottom {
            margin-top: 1px;
            font-family: var(--Inter);
            font-size: calc(var(--size-xs) - 1px);
            font-weight: var(--weight-md);
            text-align: left;
            line-height: 15px;
            color: var(--dark-blue);
            text-transform: capitalize;
        }
    }

    &__nav {
        padding-right: 8px;
        padding-left: calc(var(--span-xs) + 2px);
        padding-top: calc(var(--span-xs) + 2px);
    }


    &__list {
        list-style-type: none;
        margin-top: calc(var(--span-xs) + 6px);
    }

    &__item {
        list-style-type: none;
    }

    &__link {

        &--active {
            background: var(--nav-active-bg) !important;

            svg {
                path {
                    fill: var(--blue) !important;
                }
            }
        }

        &--active &__text {
            color: var(--blue) !important;
        }

        &--nav {
            display: flex;
            gap: var(--span-xs);
            align-items: center;
            padding: 8px 12px;
            font-family: var(--Inter);
            font-size: calc(var(--size-s) - 1px);
            font-weight: var(--weight-md);
            text-align: left;
            line-height: 15px;
            color: var(--desaturated_blue);
            text-decoration: none;
            transition: all 300ms;
            background: var(--white);
            border-radius: 5px;

            &:hover {
                background: var(--nav-hover);
            }

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;

        svg {
            path {
                fill: var(--nav-icon);
            }
        }
    }

    &__text {
        font-size: calc(var(--size-xs) + 1px);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        text-transform: capitalize;
        color: var(--nav-link);
    }

    &__heading {
        padding: 4px calc(var(--span-xs) + 2px);
        font-size: calc(var(--size-xs) - 2px);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        text-transform: uppercase;
        color: var(--nav-link);
    }

    &__box {
        margin-top: 8px;
        display: grid;
        gap: 8px;
    }

    &__footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        padding: calc(var(--span-xs) + 2px) var(--span-s);
        border-top: 1px solid var(--border);
    }

    &__button {
        width: 100%;
        display: flex;
        gap: var(--span-xs);
        align-items: center;
        justify-content: space-between;
    }

    &__username {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: var(--bright_blue);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs) - 1px);
        font-weight: var(--weight-lg);
        text-align: left;
        line-height: 15px;
        color: var(--white);
    }

    &__name {
        font-family: var(--Inter);
        font-size: calc(var(--size-s) - 1px);
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 15px;
        color: var(--desaturated_blue);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__info {
        display: flex;
        gap: var(--span-xs);
        align-items: center;
    }

    &__option {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: var(--white);
        border: 1px solid var(--options-border);
        border-radius: 4px;
        padding: 2px;

        svg {
            width: 16px;
            height: 16px;
            fill: var(--nav-icon);
        }
    }
}