.sidebar {
    width: 275px;
    // background: #4169e1;
    background: #2a52be;
    position: sticky;
    top: 0px;
    height: 100vh;
    z-index: 2;

    @media only screen and (max-width: 990px) {
        display: none;
    }

    &__header {
        height: 60px;
        padding: 0 var(--span-m);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08)
    }

    &__list {
        display: grid;
        gap: var(--span-s);
        padding: var(--span-s) var(--span-m);
    }

    &__item {
        list-style-type: none;
    }

    &__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        transition: all 300ms;

        &:hover {
            color: var(--white);
        }

        &--active {
            color: var(--white);
        }
    }

    &__text {
        font-family: "Quicksand Light Regular";
        font-style: normal;
        font-size: calc(var(--size-s) - 1px);
        font-weight: var(--weight-lg);
        line-height: 23px;
        letter-spacing: 0.05em;
        text-align: left;
    }

    &__icon {
        margin-right: calc(var(--span-xs) + 5px);

        svg {
            width: 18px;
            height: 18px;
        }
    }
}