.view {
    position: relative;
    flex: 1 1 0%;

    &__container {
        padding: calc(var(--span-xl) + 6px);
        min-height: 100%;
    }

    &__overlay {
        position: absolute;
        top: 0px;
        right: 0px;

        &-image {
            display: block;
            width: 150px;
            height: 150px;
        }
    }

    &__intro {
        padding-left: calc(var(--span-s) + 4px);
        padding-bottom: calc(var(--span-xl) + 6px);
    }

    &__heading {
        font-family: var(--Inter);
        font-size: calc(var(--size-l) + 3px);
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 30px;
        color: var(--deep_blue);
    }

    &__help {
        position: absolute;
        bottom: 20px;
        right: 20px;

        &--icon {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            background: var(--white);
            filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
            z-index: 9;
            color: var(--text-black--3);

            svg {
                width: 18px;
                height: 18px;
                stroke: var(--text-black--3);
            }
        }
    }

    &__paragraph {
        margin-top: var(--span-s);
        font-family: var(--Inter);
        font-size: calc(var(--size-m) - 1px);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 25px;
        color: rgb(102, 102, 135);
        max-width: 65%;

        @media only screen and (max-width: 1200px) {
            max-width: 95%;
        }
    }

    &__wrapper {
        padding-top: calc(var(--span-xl) + 6px);
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        gap: var(--span-m);

        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr;
        }
    }

    &__external {
        display: flex;
        flex-direction: column;
    }

    &__list {
        list-style-type: none;
        display: grid;
        grid-row-gap: var(--span-s);
    }

    &__item {
        display: flex;
        flex-direction: column;
    }

    &__link {
        display: flex;
        width: 100%;
        flex-basis: 100%;
    }

    &__box {
        flex-basis: 100%;
        padding: calc(var(--span-s) + 4px);
        display: flex;
        gap: var(--span-s);
    }

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 56px;
        height: 56px;
        border-radius: 4px;

        &--box {
            width: 32px;
            height: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
        }

        svg {
            width: 21px;
            height: 21px;
            stroke: var(--white);
        }
    }
}