.view {
    width: 100%;
    background: var(--white);
    display: none;
    min-height: 100vh;
    padding-top: var(--span-2xl);

    @media only screen and (max-width: 990px) {
        display: block;
    }

    &__intro {
        padding-top: var(--span-s);
        padding-right: calc(var(--span-s) + 4px);
        padding-left: calc(var(--span-s) + 4px);
    }

    &__heading {
        font-family: var(--Inter);
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-md);
        text-align: left;
        line-height: 24px;
        color: var(--deep_blue);
    }

    &__paragraph {
        margin-top: var(--span-xs);
        font-family: var(--Inter);
        font-size: calc(var(--size-s) - 1px);
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 20px;
        color: rgb(102, 102, 135);
    }

    &__go {
        text-decoration: none;
        width: max-content;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: var(--span-xs);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs));
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        color: var(--bright_blue);

        &--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--bright_blue);
        }

        svg {
            width: 12px;
            height: 12px;
        }
    }

    @mixin sectionStyle {
        margin-top: var(--span-m);
        padding-right: calc(var(--span-s) + 4px);
        padding-left: calc(var(--span-s) + 4px);
    }

    &__statistics {
        @include sectionStyle();
    }

    &__products {
        @include sectionStyle();
    }
}

.statistics {
    display: flex;
    flex-direction: column;

    &__heading {
        font-family: var(--Inter);
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 24px;
        color: var(--deep_blue);
    }

    &__wrapper {
        margin-top: var(--span-m);
        display: grid;
        gap: var(--span-s);

        @media only screen and (max-width: 990px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    &__card {
        border-radius: 5px;
        box-shadow: 0px 1px 10px rgba(120, 118, 118, 0.1);
    }

    &__paragraph {
        margin-top: var(--span-xs);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs));
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 16px;
        color: rgb(102, 102, 135);
    }

    &__go {
        text-decoration: none;
        width: max-content;
        display: flex;
        align-items: center;
        gap: 5px;
        padding-top: var(--span-s);
        font-family: var(--Inter);
        font-size: calc(var(--size-xs));
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        color: var(--bright_blue);

        &--icon {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--bright_blue);
        }

        svg {
            width: 12px;
            height: 12px;
        }
    }

    &__box {
        padding: var(--span-s) var(--span-s);
        display: flex;
        align-items: center;
        gap: var(--span-s);
    }

    &__icon {
        cursor: pointer;
        width: 52px;
        height: 52px;
        border-radius: 50%;
        display: grid;
        place-items: center;

        svg {
            width: 21px;
            height: 21px;
        }
    }

    &__title {
        font-family: var(--Inter);
        font-size: calc(var(--size-m));
        font-weight: var(--weight-lg);
        text-align: left;
        line-height: 21px;
        color: var(--text-black--2);
    }

    &__name {
        font-family: var(--Inter);
        font-size: calc(var(--size-s));
        font-weight: var(--weight-sm);
        text-align: left;
        line-height: 15px;
        color: var(--desaturated_blue);
    }
}

.products {
    display: flex;
    flex-direction: column;

    &__heading {
        font-family: var(--Inter);
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-xlg);
        text-align: left;
        line-height: 24px;
        color: var(--deep_blue);
    }

    &__wrapper {
        overflow-x: hidden;
        margin-top: var(--span-m);
        padding-bottom: var(--span-2xl);
    }

    &__swipe {
        display: grid;

        @media only screen and (max-width: 990px) {
            grid-template-columns: repeat(2, 50%) !important;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 100%) !important;
        }

    }

    &__card {
        border-radius: 12px;
        box-shadow: 0px 1px 10px rgba(120, 118, 118, 0.1);
    }

    &__box {
        display: flex;
        flex-direction: column;
    }

    &__image-box {
        width: 100%;
        height: 250px;
        overflow: hidden;
        border-radius: 12px;
    }

    &__image {
        display: block;
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}