@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
    font-family: 'Quicksand Book Oblique Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Book Oblique Regular'), url('./assets/fonts/Quicksand_Book_Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Quicksand Book Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Book Regular'), url('./assets/fonts/Quicksand_Book.woff') format('woff');
}


@font-face {
    font-family: 'Quicksand Dash Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Dash Regular'), url('./assets/fonts/Quicksand_Dash.woff') format('woff');
}


@font-face {
    font-family: 'Quicksand Light Oblique Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Light Oblique Regular'), url('./assets/fonts/Quicksand_Light_Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Quicksand Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Light Regular'), url('./assets/fonts/Quicksand_Light.woff') format('woff');
}


@font-face {
    font-family: 'Quicksand Bold Oblique Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Bold Oblique Regular'), url('./assets/fonts/Quicksand_Bold_Oblique.woff') format('woff');
}


@font-face {
    font-family: 'Quicksand Bold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Quicksand Bold Regular'), url('./assets/fonts/Quicksand_Bold.woff') format('woff');
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root {
    --unit: 10px;
    --Inter: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial,
        sans-serif;

    //font size

    --size-xs: 12px;
    --size-s: 14px;
    --size-m: 16px;
    --size-l: 24px;
    --size-xl: 32px;
    --size-2xl: 48px;

    //spacing

    --span-xs: var(--unit);
    --span-s: calc(var(--unit) * 2);
    --span-m: calc(var(--unit) * 3);
    --span-l: calc(var(--unit) * 4);
    --span-xl: calc(var(--unit) * 5);
    --span-2xl: calc(var(--unit) * 6);

    //font weights
    --weight-xsm: 300;
    --weight-sm: 400;
    --weight-md: 500;
    --weight-lg: 600;
    --weight-xlg: 700;
    --weight-xxlg: 800;
    --weight-2xxlg: 900;

    --white: #ffffff;
    --light-gray: #aec6bf;
    --dark-blue: #1f2a3c;
    --blue: #213f7a;
    --light-blue: #6790d6;
    --input: #545d6a;
    --input-placeholder: #a0aec1;
    --dashboard-bg: #f6f6f9;
    --border: #eaeaef;
    --text-black: #182034;
    --text-black--2: #666687;
    --text-black--3: #151515;
    --text-blue: #29335b;
    --pale_blue: #e0e8ff;
    --bright_blue: #3829e0;
    --very__pale_blue: #f5f7ff;
    --desaturated_blue: #7280a7;
    --deep_blue: #1f2f56;
    --nav-icon: #8e8ea9;
    --nav-hover: #f6f6f9;
    --nav-active-bg: #f0f0ff;
    --nav-link: #666687;
    --options-border: #eaeaef;
    --card-shadow: #2121341a;
    --text-blue: #111827;
    --text-blue--1: #110227;
    --text-gray: #d1d5db;
    --red: #f04d47;
    --success: #198754;
}

html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
}

body {
    font-family: var(--Inter);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--white);
}